<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="poles">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="21.2396510226982" />
      <inertia
        ixx="2.09869967933224"
        ixy="-7.12427931720349E-31"
        ixz="5.59930255919331E-17"
        iyy="2.09869967933224"
        iyz="1.45251010679581E-14"
        izz="0.0585123360862047" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 3.14 0" />
      <geometry>
        <mesh
          filename="./meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.57 3.14 0" />
      <geometry>
        <mesh
          filename="./meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
