<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="frame">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="51.5061689718006" />
      <inertia
        ixx="33.9244152752193"
        ixy="2.50032569803688E-15"
        ixz="-2.58823789772606E-16"
        iyy="1.98053761487797"
        iyz="4.14791463747682E-14"
        izz="35.0342477986494" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 1.57 0" />
      <geometry>
        <mesh
          filename="./meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.57 1.57 0" />
      <geometry>
        <mesh
          filename="./meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
