<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tunnel">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="109.894706044926" />
      <inertia
        ixx="18.6797333467675"
        ixy="0.00017390539198338"
        ixz="-0.00218217813623141"
        iyy="50.4187883410493"
        iyz="-0.000348627610773084"
        izz="50.7419510576589" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 3.14 0" />
      <geometry>
        <mesh
          filename="./meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.57 3.14 0" />
      <geometry>
        <mesh
          filename="./meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
